html,
body {
  color: #e1e1e1;
  background-color: #1e1e1e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
  padding: 3rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e1e1e1;
  background-color: #1e1e1e;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
